<!doctype html>
<html>
  <head>
    <title>Default Handlebars</title>
  </head>
  <body>
    <div id='root'>{{{ content }}}</div>
		<h1>From handlebars view</h1>
    <script src="http://localhost:9000/static/bundle.js"></script>
  </body>
</html>
